<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
     <header class="header">
        <a href="/dashboard" class="header__logo-container">
            <img src="{{ url_for('static', filename='assets/Logo-short.png') }}" alt="Logo" class="header__logo-img">
            <span class="header__logo">StatSouls</span>
        </a>
        <nav class="header__nav">
            <a href="/build-editor" class="nav__link">Build Editor</a>
            <a href="/ai-chatbot" class="nav__link">AI Chatbot</a>
            <div class="nav__dropdown">
                <a href="https://eldenring.wiki.fextralife.com/Elden+Ring+Wiki" target="_blank" class="nav__link dropdown-toggle">Eldenring Wiki</a>
                <div class="dropdown-content">
                    <a href="https://eldenring.wiki.fextralife.com/Weapons" target="_blank" class="dropdown-item">Weapons <img src="{{ url_for('static', filename='assets/weapons-icon.png') }}" class="dropdown-icon" alt="weapons"></a>
                    <a href="https://eldenring.wiki.fextralife.com/Armor" target="_blank" class="dropdown-item">Armour <img src="{{ url_for('static', filename='assets/armor-icon.png') }}" class="dropdown-icon" alt="armor"></a>
                    <a href="https://eldenring.wiki.fextralife.com/Sorceries" target="_blank" class="dropdown-item">Sorceries <img src="{{ url_for('static', filename='assets/sorceries-icon.png') }}" class="dropdown-icon" alt="sorceries"></a>
                    <a href="https://eldenring.wiki.fextralife.com/Incantations" target="_blank" class="dropdown-item">Incantations <img src="{{ url_for('static', filename='assets/incantations-icon.png') }}" class="dropdown-icon" alt="incantation"></a>
                    <a href="https://eldenring.wiki.fextralife.com/Talismans" target="_blank" class="dropdown-item">Talisman <img src="{{ url_for('static', filename='assets/talisman-icon.png') }}" class="dropdown-icon" alt="talisman"></a>
                    <a href="https://eldenring.wiki.fextralife.com/Ashes+of+War" target="_blank" class="dropdown-item">Ash of War <img src="{{ url_for('static', filename='assets/aow-icon.png') }}" class="dropdown-icon" alt="ash of war"></a>
                    <a href="https://eldenring.wiki.fextralife.com/Spirit+Ashes" target="_blank" class="dropdown-item">Spirit Ashes <img src="{{ url_for('static', filename='assets/spirit-ashes-icon.png') }}" class="dropdown-icon" alt="spirit ashes"></a>
                </div>
            </div>
            <a href="/about" class="nav__link">Simulation</a>
            <button onclick="logout()" class="logout-btn">Logout</button>
        </nav>
    </header>
   
   <script>
        async function logout() {
            const response = await fetch('/api/logout');
            const data = await response.json();
            if (data.success) {
                window.location.href = '/';
            }
        }
    </script>

    {% block content %}
    {% endblock %}
</body>
</html>